@import 'fonts';

$primary-color: #A8D6FE;
$button-color: #0275D8;
$off-white: hsla(0,0%,0%,0.05);
$error-color: #F82B60;
$link-color: #2D7FF9;
$visited-link-color: #551A8B;

$navbar-height: 68px;
$font: Avenir Next;