@import '../partials/variables';
@import '../partials/components';

.fridge {
    display: flex;
    justify-content: center;

    .fridge-container {
        width: $container-width;
        margin-top: 20px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .empty {
            height: 0px;
            width: 250px;
        }

        .box {
            display: flex;
            flex: 0 0 21%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px;

            .image {
                height: 250px;
                width: 250px;
            }

            .ingredient {
                display: flex;
                flex-direction: row;
                font-family: $font;
                align-items: baseline;
                margin-top: 5px;

                .name {
                    font-size: 1rem;
                    margin-right: 5px;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 160px;
                }

                .quantity {
                    font-size: 0.8rem;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 80px;
                }
            }
            
            .expiration-date {
                font-family: $font;
                font-size: 0.8rem;
                margin-top: 2px;
            }
        }
    }

    .form-dialog {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: white;
        border-radius: 10px;
        width: 24rem;

        .form-title {
            display: block;
            margin-bottom: 20px;
            font-weight: 600;
            max-width: 20rem;
            align-self: center;
            text-overflow: ellipsis;
            overflow: hidden;
            
            white-space: nowrap;
        }

        .form-dialog-container {
            width: 100%;
            padding: 2rem 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: $off-white;
            font-family: $font;

            .form {
                margin: 0 2rem;
                .input {
                    @extend %form-input;
                }

                .button-container {
                    display: flex;
                    justify-content: space-between;

                    .button {
                        border-radius: 5px;
                        min-width: 75px;
                        height: 32px;
                        @extend %button;
                    }
                }
            }
        }
    }

    .edit-container {
        display: flex;
        flex-direction: row;

        position: fixed;
        bottom: 24px;
        right: 24px;

        .button {
            @extend %button;
            border-radius: 9999px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 20px;
            font-weight: 500;
            padding: 5px 10px;
            margin: 0 10px;
        }
    }
}
