.fridge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 25px;

    .box {
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        color: #333;
        width: 140px;
        height: 160px;

        .image {
            height: 100px;
            width: 100px;
        }
    }
}

.title {
    font-size: medium;
    font-family: sans-serif;
    margin: 2px;
    padding-top: 4px;
    padding-bottom: 0;
}


.subtitle {
    font-size: small;
    font-family: sans-serif;
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 0;
}
